NEXT_PUBLIC_SUPABASE_URL=https://uhsanirxkuwyqytgsdhb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVoc2FuaXJ4a3V3eXF5dGdzZGhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2MDQ3MTEsImV4cCI6MjA4NzE4MDcxMX0.TpSPViFfgOzYnzWkkhmci5FDakKwNwTR0qQ87Gg8rvU
ADMIN_PASSWORD=your_secret_password_here
NEXT_PUBLIC_SITE_TITLE=My Uni Archive
